
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.table-dive-diagram {
  width: 100%;
  td {
    padding: 5px;
    width: 33.3%;
  }
  $border-width: 3px;
  $border-style: solid;
  .b-top {
    border-top: $border-style $border-width;
  }
  .b-right {
    border-right: $border-style $border-width;
  }
  .b-bottom {
    border-bottom: $border-style $border-width;
  }
  .b-left {
    border-left: $border-style $border-width;
  }
}
