
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

main {
  background: linear-gradient(#f8fafc, #4cffff);
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.table-dive-diagram {
  width: 100%;
  td {
    padding: 5px;
    width: 33.3%;
  }
  $border-width: 3px;
  $border-style: solid;
  $border-color: royalblue;
  .b-top {
    border-top: $border-style $border-width $border-color;
  }
  .b-right {
    border-right: $border-style $border-width $border-color;
  }
  .b-bottom {
    border-bottom: $border-style $border-width $border-color;
  }
  .b-left {
    border-left: $border-style $border-width $border-color;
  }
  .form-control {
    padding: 0.375rem 0 0.375rem 0.75rem;
  }
}

.input-group input[type="radio"] {
  display: none;
}
/* 画像部分に余白を持たせる */
label img {
  margin: 3px;
  padding: 5px;
}

/* 選択されたラジオボタンの画像の背景をオレンジ色に変える */
.input-group input[type="radio"]:checked + label img {
  background: royalblue;
}
